<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Sederhana</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <img src="../img/logo.webp" alt="logo">

            <!-- Menu -->
            <ul id="menu-utama">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Nasional</a></li>
                <li><a href="#">Internasional</a></li>
                <li><a href="#">Ekonomi</a></li>
            </ul>

            <!-- Home Search -->
            <form action="#">
                <input type="text" name="Search">
            </form>
        </div>
   

        <div id="content">
            <div class="sub-artikel">
                <h2>5 olahraga yang gak populer di Indonesia</h2>

                <a href="">CNN Indonesia</a>
                <h6>Oct 31, 2023</h6>
                <img src="../img/artikel.jpg" alt="Gambar artikel">
                <p>Sebagai negara yang kaya akan jumlah penduduk, Indonesia sudah melahirkan sejumlah atlet yang menjadi juara di kompetisi-kompetisi level dunia. Sebagai contoh, baru-baru ini, Tontowi Ahmad dan Liliyana Natsir berhasil meraih medali emas untuk cabang bulutangkis di Olimpiade Rio 2016. Alhasil, nama Indonesia pun semakin mendongkrak di mata dunia olahraga.</p>
                <p>Selain bulutangkis yang telah mendarah daging di keseharian masyarakat Indonesia, olahraga  mainstream lain, seperti sepakbola, bola basket, dan bola voli juga sering dimainkan di gedung olahraga maupun halaman rumah. Walaupun demikian, masih ada banyak cabang olahraga yang sangat jarang disentuh oleh Indonesia tapi sudah populer di negara lain, lho. Inilah 5 jenis olahraga tersebut.</p>
                <b><p>1. Rugby</p></b>
                <p>Rugby adalah olahraga yang sangat terkenal di Inggris dan pertama kali diperkenalkan di abad ke 19. Asal mula terbentuknya olahraga ini juga sangat lucu, dimana seorang mahasiswa asal Inggris bernama William Webb Ellis malah membawa bola dengan tangan ketika bermain sepakbola ke arah gawang lawan.</p>
                <p>Sebuah tim Rugby terdiri dari 15 orang dan akan bermain selama 4 ronde, dengan masing-masing ronde berdurasi 15 menit. Pemain harus mencetak poin dengan menendang, membawa, atau melempar bola melewati garis gawang lawan.</p>
                <p>Kalau berhasil dengan cara membawa, tim akan mencetak 5 poin. Sementara kalau bola melewati gawang dengan ditendang, tim akan mendapatkan 2 poin. Tendangan penalti dan lemparan bernilai 3 poin.</p>
                <p>Setelah berhasil mencetak poin, tim masih bisa mendapatkan 2 poin tambahan kalau berhasil merebut bola dari tim lawan sebelum tim lawan bisa mencetak poin. Tim lawan harus mencoba merebut bola dengan cara menabrak, men-tackle, atau menjatuhkan si pemegang bola.</p>
                <p>Olahraga ini dikenal sangat barbar karena aturannya, apalagi para pemain nggak menggunakan pelindung badan apapun lho selain mouth guard.</p>
                <p>Karena kerasnya olahraga ini, dibutuhkan tingkat sportivitas yang tinggi. Para pemain sadar kalau tabrak menabrak merupakan aturan dari permainan ini.</p>
                <p>Kebanyakan orang Indonesia masih sangat temperamen dan mungkin kalau sekali ditabrak bisa langsung bertengkar. Toh, main bulutangkis kena shuttlecock aja bisa marah.</p>
                <b><p>2. American Football</p></b>
                <p>Meski mirip, Rugby dan American Football adalah dua olahraga yang berbeda, lho. Pertama, berbeda dengan Rugby yang seakan bermain hampir “telanjang”, American Football justru sangat melengkapi pemain dengan berbagai pelindung tubuh. Pemain harus mengenakan helm, pelindung bahu, pelindung kaki, dan mouth guard.</p>
            </div>  
        </div>

        <div id="sidebar">
            <h2>Who We are?</h2>
            <p>Kami Adalah Mahasiswa PLJ Kampus Cimone Prodi KA Yang Sedang Belajar Membuat Website Portal Sederhana Menggunakan Bahasa Pemrograman HTML.</p>

            <h2>Artikel Berdasarkan Kategori</h2>
            <ul>
                <li><a href="#">Olahraga</a></li>
                <li><a href="#">Politik</a></li>
                <li><a href="#">Makanan</a></li>
            </ul>
        </div>

        <div id="footer">
            <p>Aflahul Nnisa &copy; 2024</p>
        </div>
    </div>
</body>
</html>