<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Sederhana</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <img src="../img/logo.webp" alt="logo">

            <!-- Menu -->
            <ul id="menu-utama">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Nasional</a></li>
                <li><a href="#">Internasional</a></li>
                <li><a href="#">Ekonomi</a></li>
            </ul>

            <!-- Home Search -->
            <form action="#">
                <input type="text" name="Search">
            </form>
        </div>
   

        <div id="content">

            <div class="sub-artikel">
                <h2>Berolahraga di Pagi hari, Ini Manfaatnya</h2>
                <a href="">CNN Indonesia</a>
                <h6>15 Oktober 2020</h6>
                <img src="../img/artikel2.webp" alt="Gambar artikel">
                <p>Sebagian besar orang umumnya memilih untuk berolahraga di pagi hari atau sore hari. Namun, beberapa orang meyakini kalau waktu terbaik untuk berolahraga sebenarnya adalah di pagi hari. Selain udaranya yang masih sejuk, tubuh juga masih segar untuk berolahraga. Dalam dunia medis, tidak ada penelitian yang benar-benar menunjukan kalau olahraga pagi adalah waktu yang paling baik. </p>
                <p>Meski begitu, memang ada manfaat-manfaat tertentu yang bisa kamu peroleh saat memilih olahraga di pagi hari. Nah, berikut manfaat berolahraga di pagi hari yang perlu kamu ketahui: </p>
                <b><p>1. Meningkatkan Kewaspadaan</p></b>
                <p>Kortisol adalah hormon yang membuat kamu tetap terjaga dan waspada. Nah, hormon kortisol umumnya meningkat di pagi hari dan turun di malam hari. Hormon ini akan mencapai puncaknya sekitar jam 8 pagi. Jika kamu memiliki ritme sirkadian yang sehat, tubuh mungkin lebih siap untuk berolahraga di pagi hari saat hormon kortisol sedang dalam puncaknya.</p>
                <b><p>2. Lebih Punya Banyak Energi</p></b>
                <p>Olahraga teratur mampu meningkatkan energi dan mengurangi kelelahan. Saat berolahraga, oksigen dan nutrisi lancar mengalir ke jantung dan paru-paru, sehingga meningkatkan fungsi sistem kardiovaskular, daya tahan, dan stamina secara keseluruhan. Dengan berolahraga lebih awal, kamu akan merasa lebih berenergi sepanjang hari.</p>
            </div>
        </div>

        <div id="sidebar">
            <h2>Who We are?</h2>
            <p>Kami Adalah Mahasiswa PLJ Kampus Cimone Prodi KA Yang Sedang Belajar Membuat Website Portal Sederhana Menggunakan Bahasa Pemrograman HTML.</p>

            <h2>Artikel Berdasarkan Kategori</h2>
            <ul>
                <li><a href="#">Olahraga</a></li>
                <li><a href="#">Politik</a></li>
                <li><a href="#">Makanan</a></li>
            </ul>
        </div>

        <div id="footer">
            <p>Aflahul Nnisa &copy; 2024</p>
        </div>
    </div>
</body>
</html>