<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Sederhana</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <img src="../img/logo.webp" alt="logo">

            <!-- Menu -->
            <ul id="menu-utama">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Nasional</a></li>
                <li><a href="#">Internasional</a></li>
                <li><a href="#">Ekonomi</a></li>
            </ul>

            <!-- Home Search -->
            <form action="#">
                <input type="text" name="Search">
            </form>
        </div>
   

        <div id="content">
            <div class="sub-artikel">
                <h2>Macam-macam Olahraga Kardio Yang Mudah dilakukan dirumah</h2>
                <h6>28 Jul 2022, 18:20 WIB</h6>
                <img src="../img/artikel3.webp" alt="Gambar artikel">
                <p> Kardio merupakan satu di antara jenis olahraga yang berguna untuk kesehatan tubuh. Bagi yang belum tahu, kardio adalah jenis olahraga yang memperkuat sistem kardiovaskular (pembuluh darah dan jantung, serta paru-paru).</p>
                <p>Olahraga kardio terbukti efektif memberikan pengaruh baik untuk kesehatan mental. Apakah Anda tertarik mencoba olahraga kardio? </p>
                <p>Melakukan olahraga kardio bisa dilakukan di mana pun, termasuk di rumah. Melakukan olahraga kardio di rumah bisa dijadikan pilihan yang menarik karena menawarkan kenyamanan serta lebih menghemat uang dan waktu.</p>
                <p>Selain itu, Anda bisa berolahraga bersama anggota keluarga yang lain. Ada banyak macam-macam olahraga kardio olahraga kardio yang mudah dilakukan di rumah.</p>
                <p>Berikut ini macam-macam olahraga kardio olahraga kardio yang mudah dilakukan di rumah, dikutip dari laman Healthline dan Verywellfit, Kamis (28/7/2022).</p>
                <b><p>1. Joging di Tempat</p></b>
                <p>joging di tempat memberikan manfaat yang sama dengan lari di luar ruangan. Kebanyakan orang yang melakukan ini, mengombinasikan gerakannya dengan burpees, lompat tali, atau latihan kekuatan lainnya.Untuk membentuk otot dan membakar lemak dalam tubuh, sebaiknya lakukan gerakan yang satu ini selama 20-30 menit setiap hari.</p>
                <b><p>2. Gerakan Burpees</p></b>
                <p>Gerakan olahraga kardio yang satu ini cocok untuk Anda yang malas berolahraga. Gerakan burpees bagus untuk melatih semua bagian tubuh dalam satu gerakan.</p>
                <p>Cara melakukannya dengan berdiri dengan kaki selebar bahu dan rentangkan kedua tangan ke atas dengan telapak menghadap depan.</p>
                <p>Lalu lontarkan tubuh ke atas setinggi yang Anda mampu sambil menarik napas. Terus ulangi siklus sampai Anda menyelesaikan 10-20 repetisi burpees.</p>
            </div>
        </div>

        <div id="sidebar">
            <h2>Who We are?</h2>
            <p>Kami Adalah Mahasiswa PLJ Kampus Cimone Prodi KA Yang Sedang Belajar Membuat Website Portal Sederhana Menggunakan Bahasa Pemrograman HTML.</p>

            <h2>Artikel Berdasarkan Kategori</h2>
            <ul>
                <li><a href="#">Olahraga</a></li>
                <li><a href="#">Politik</a></li>
                <li><a href="#">Makanan</a></li>
            </ul>
        </div>

        <div id="footer">
            <p>Aflahul Nnisa &copy; 2024</p>
        </div>
    </div>
</body>
</html>