<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Sederhana</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <img src="../img/logo.webp" alt="logo">

            <!-- Menu -->
            <ul id="menu-utama">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Nasional</a></li>
                <li><a href="#">Internasional</a></li>
                <li><a href="#">Ekonomi</a></li>
            </ul>

            <!-- Home Search -->
            <form action="#">
                <input type="text" name="Search">
            </form>
        </div>
   

        <div id="content">
            <div class="artikel">
                <img src="../img/artikel.jpg" alt="Gambar Artikel">
                <h2>5 Olahraga Yang Gak Populer di Indonesia</h2>
                <p>Sebagai negara yang kaya akan jumlah penduduk, Indonesia sudah melahirkan sejumlah atlet yang menjadi juara di kompetisi-kompetisi level dunia.</p>
                <a href="artikel.html">Baca Selengkapnya ... </a>
            </div>

            <div class="artikel">
                <img src="../img/artikel2.webp" alt="Gambar Artikel">
                <h2>Berolahraga di Pagi hari, Ini Manfaatnya</h2>
                <p>Sebagian besar orang umumnya memilih untuk berolahraga di pagi hari atau sore hari. Namun, beberapa orang meyakini kalau waktu terbaik untuk berolahraga sebenarnya adalah di pagi hari.</p>
                <a href="artikel2.html">Baca Selengkapnya ... </a>
            </div>

            <div class="artikel">
                <img src="../img/artikel3.webp" alt="Gambar Artikel">
                <h2>Macam-macam Olahraga Kardio Yang Mudah dilakukan dirumah</h2>
                <p>Kardio merupakan satu di antara jenis olahraga yang berguna untuk kesehatan tubuh. Bagi yang belum tahu, kardio adalah jenis olahraga yang memperkuat sistem kardiovaskular (pembuluh darah dan jantung, serta paru-paru).</p>
                <a href="artikel3.html">Baca Selengkapnya ... </a>
            </div>
        </div>

        <div id="sidebar">
            <h2>Who We are?</h2>
            <p>Kami Adalah Mahasiswa PLJ Kampus Cimone Prodi KA Yang Sedang Belajar Membuat Website Portal Sederhana Menggunakan Bahasa Pemrograman HTML.</p>

            <h2>Artikel Berdasarkan Kategori</h2>
            <ul>
                <li><a href="#">Olahraga</a></li>
                <li><a href="#">Politik</a></li>
                <li><a href="#">Makanan</a></li>
            </ul>
        </div>

        <div id="footer">
            <p>Aflahul Nnisa &copy; 2024</p>
        </div>
    </div>
</body>
</html>